<h1 class="text-center mb-3">{{user.name}}的點歌本</h1>

<div class="row">
  <div class="col-6">
    <div class="mb-2" style="height: 80vh; overflow-y: scroll;">
      {{> track-table}}
    </div>

    {{> pagination}}
  </div>

  <div class="col-6">
    <form id="search-form" class="row">
      <div class="col-auto">
        <label for="search-input">請輸入關鍵字：</label>
      </div>
      <div class="col-7">
        <input type="text" class="form-control" id="search-input">
      </div>
      <div class="col-2">
        <button type="submit" id="search-btn" class="btn btn-outline-primary">查詢</button>
      </div>
    </form>

    {{!-- 搜尋結果 --}}
    <div style="height: 72vh; overflow-y: scroll; margin: 2vh auto;">
      <form action="/playlist/{{user.playlist}}" method="post" id="search-result" style="display: none;"></form>
    </div>
    <button type="submit" form="search-result" class="btn btn-outline-primary" style="position: relative; right: -90%;">確定</button>
  </div>
</div>